.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #222831;
  padding: 20px;
  font-family: 'Outfit', sans-serif;
}

.container {
  max-width: 600px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.text {
  font-size: 18px;
  margin-bottom: 32px;
  color: #EEEEEE; /* Açık yazı rengi */
  font-weight: 500;
}
.options {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}

.optionText {
  color: #FFD369;
  font-weight: 300;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s, transform 0.1s;
}

.optionText:hover {
  color: #F79B72;
  transform: translateX(4px); /* hafif kayma efekti */
}

.optionText:active {
  transform: translateX(2px);
}
